In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
train_data.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Spencer, Mrs. William Augustus (Marie Eugenie)",male,NaN,NaN,NaN,CA. 2343,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [3]:
size_train = len(train_data)
dataset = pd.concat([train_data, test_data]).reset_index(drop=True)

In [4]:
dataset.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [5]:
dataset.sample(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
523,524,1.0,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0,0,1,111361,57.9792,B18,C
182,183,0.0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.3875,NaN,S
1029,1030,NaN,3,"Drapkin, Miss. Jennie",female,23.0,0,0,SOTON/OQ 392083,8.0500,NaN,S
636,637,0.0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.9250,NaN,S
736,737,0.0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1,3,W./C. 6608,34.3750,NaN,S
457,458,1.0,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
881,882,0.0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
202,203,0.0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
155,156,0.0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C
706,707,1.0,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S
518,519,1.0,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S
101,102,0.0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
629,630,0.0,3,"O'Connell, Mr. Patrick D",male,NaN,0,0,334912,7.7333,NaN,Q
947,948,NaN,3,"Cor, Mr. Bartol",male,35.0,0,0,349230,7.8958,NaN,S
808,809,0.0,2,"Meyer, Mr. August",male,39.0,0,0,248723,13.0000,NaN,S
60,61,0.0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
622,623,1.0,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,NaN,C
659,660,0.0,1,"Newell, Mr. Arthur Webster",male,58.0,0,2,35273,113.2750,D48,C
453,454,1.0,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
70,71,0.0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S

# EDA

In [6]:
EDA = False

### Age

In [7]:
if EDA:
    ax = sns.kdeplot(train_data.loc[train_data['Survived']==True, 'Age'], shade=True, color='r')
    ax = sns.kdeplot(train_data.loc[train_data['Survived']==False, 'Age'], shade=True, color='b', ax=ax)
    ax_legend = ax.legend(['Survived', 'Not Survived'])

In [8]:
if EDA:
    g = sns.FacetGrid(data=train_data, col='Survived')
    g = g.map(sns.distplot, 'Age')

In [9]:
if EDA:
    features = ['SibSp', 'Pclass', 'Sex', 'Parch', 'Embarked']
    for f in features:
        sns.catplot(x=f, y='Age', data=dataset, kind='box')
    sns.heatmap(dataset[features + ['Age']].corr(), annot=True)

In [10]:
if EDA:
    sns.catplot(x='Pclass', y='Age', hue='Sex', data=dataset, kind='bar')

### Fare

In [11]:
if EDA:
    fig = plt.figure(figsize=[12, 4])
    axes = fig.subplots(1, 2)
    ax = sns.distplot(train_data['Fare'], ax=axes[0])
    ax = sns.distplot(train_data['Fare'].map(lambda x: np.log(x) if x > 0 else -10), ax=axes[1])

### Pclass

In [12]:
if EDA:
    g = sns.catplot(x='Pclass', y='Survived', hue='Sex', data=train_data, kind='bar')

### Embarked

In [13]:
if EDA:
    g = sns.catplot(x='Embarked', y='Survived', hue='Sex', data=train_data, kind='bar')

In [14]:
if EDA:
    sns.catplot(x='Pclass', col='Embarked', data=train_data, kind='count')

### Family

In [15]:
if EDA:
    sns.catplot(x='SibSp', y='Survived', data=train_data, kind='bar')

In [16]:
if EDA:
    sns.catplot(x='Parch', y='Survived', data=train_data, kind='bar')

### Sex

In [17]:
if EDA:
    sns.catplot(x='Sex', y='Survived', data=train_data, kind='bar')

## Data processing

In [18]:
dataset.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

### Age, Fare, Embarked

In [19]:
dataset['Embarked'].fillna('S', inplace=True)

In [20]:
dataset[dataset['Fare'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1043,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [21]:
dataset['Fare'].fillna(dataset.loc[(dataset['Pclass'] == 3) & (dataset['Embarked'] == 'S'), 'Fare'].median(), inplace=True)

In [22]:
dataset['Age'] = dataset.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x: x.fillna(x.median()))

In [23]:
dataset.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          0
dtype: int64

In [24]:
dataset['AgeBand'] = pd.qcut(dataset['Age'], 10)
if EDA:
    sns.countplot(x='AgeBand', hue='Survived', data=dataset)

In [25]:
dataset['FareBand'] = pd.qcut(dataset['Fare'], 13)
if EDA:
    sns.countplot(x='FareBand', hue='Survived', data=dataset)

### Cabin

In [26]:
dataset['Cabin'] = dataset['Cabin'].str.extract(r'^(\S)', expand=False).fillna('M')

In [27]:
if EDA:
    sns.catplot(x='Cabin', y='Survived', data=dataset.loc[:size_train], kind='bar')

In [28]:
dataset['Cabin'].replace(['A', 'B', 'C', 'T'], 'ABC', inplace=True)
dataset['Cabin'].replace(['D', 'E'], 'DE', inplace=True)
dataset['Cabin'].replace(['F', 'G'], 'FG', inplace=True)

### Name

In [29]:
dataset.loc[dataset['Name'].str.contains('\('), 'Name'].sample(20)

1113                           Cook, Mrs. (Selena Rogers)
1218          Rosenshine, Mr. George (Mr George Thorne")"
779     Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
991     Stengel, Mrs. Charles Emil Henry (Annie May Mo...
763             Carter, Mrs. William Ernest (Lucile Polk)
591       Stephenson, Mrs. Walter Bertram (Martha Eustis)
9                     Nasser, Mrs. Nicholas (Adele Achem)
983                  Davidson, Mrs. Thornton (Orian Hays)
709     Moubarek, Master. Halim Gonios ("William George")
254              Rosblom, Mrs. Viktor (Helena Wilhelmina)
700     Astor, Mrs. John Jacob (Madeleine Talmadge Force)
383     Holverson, Mrs. Alexander Oskar (Mary Aline To...
1296         Nourney, Mr. Alfred (Baron von Drachstedt")"
960                   Fortune, Mrs. Mark (Mary McDougald)
865                              Bystrom, Mrs. (Karolina)
416       Drew, Mrs. James Vivian (Lulu Thorne Christian)
599          Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
518     Angle, Mrs. William A (Florence "Mary" Agnes H...
437                 Richards, Mrs. Sidney (Emily Hocking)
892                      Wilkes, Mrs. James (Ellen Needs)
Name: Name, dtype: object

In [30]:
dataset['Surname'] = dataset['Name'].str.extract(r'^([^,]+),', expand=False)
dataset['Title'] = dataset['Name'].str.extract(r'([A-Za-z]+)\.', expand=False)
dataset['Married'] = (dataset['Title'] == 'Mrs').astype(np.int)
dataset['Title'].replace(['Ms', 'Mrs', 'Mlle', 'Countess', 'Lady', 'Dona', 'Mme'], 'Miss', inplace=True)
dataset['Title'].replace(['Dr', 'Col', 'Major', 'Jonkheer', 'Capt', 'Rev', 'Don', 'Sir'], 'Noble', inplace=True)

In [31]:
if EDA:
    sns.countplot(x='Title', hue='Survived', data=dataset[:size_train])

In [32]:
dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
if EDA:
    sns.countplot(x='FamilySize', hue='Survived', data=dataset)

In [33]:
dataset.loc[dataset['FamilySize'] == 1, 'FamilyType'] = 'Alone'
dataset.loc[(dataset['FamilySize'] > 1) & (dataset['FamilySize'] < 5), 'FamilyType'] = 'Small'
dataset.loc[(dataset['FamilySize'] >= 5) & (dataset['FamilySize'] < 7), 'FamilyType'] = 'Medium'
dataset['FamilyType'].fillna('Large', inplace=True)

In [34]:
if EDA:
    sns.countplot(x='FamilyType', hue='Survived', data=dataset)

In [35]:
surname_fam_rates = dataset[:size_train].groupby(['Surname', 'FamilySize'])['Survived'].median().to_dict()
surname_fam_rates = {k: v for k, v in surname_fam_rates.items() if k[1] > 1}
surname_rates = dataset[:size_train].groupby('Surname')['Survived', 'FamilySize'].median().to_dict('index')
surname_rates = {k: v['Survived'] for k, v in surname_rates.items() if v['FamilySize'] > 1}

surname_train = set(dataset.iloc[:size_train]['Surname'].tolist())
surname_test = set(dataset.iloc[size_train:]['Surname'].tolist())
surname_set = surname_train.intersection(surname_test)

In [36]:
average_mean = dataset['Survived'].mean()
def get_surname_rate(sur, fams):
    if sur not in surname_set:
        return average_mean, 0
    elif (sur, fams) not in surname_fam_rates.keys():
        if sur in surname_rates.keys():
            return surname_rates[sur], 1
        else:
            return average_mean, 0
    else:
        return surname_fam_rates[(sur, fams)], 1

surname_df = dataset[['Surname', 'FamilySize']].apply(lambda x: get_surname_rate(x['Surname'], x['FamilySize']), axis=1, result_type='expand').rename({0: 'SurnameSurvived', 1: 'SurnameSurvivedValid'}, axis=1)

dataset = pd.concat((dataset, surname_df), axis=1)

### Ticket

In [37]:
dataset['TicketFreq'] = dataset.groupby('Ticket')['Ticket'].transform('count')
ticket_survived = dataset[:size_train].groupby('Ticket')['Survived'].median().to_dict()
ticket_count = dataset[:size_train].groupby('Ticket')['TicketFreq'].median().to_dict()
ticket_train = set(dataset.iloc[:size_train]['Ticket'].tolist())
ticket_test = set(dataset.iloc[size_train:]['Ticket'].tolist())
ticket_set = ticket_train.intersection(ticket_test)

In [38]:
dataset['TicketSurvived'] = dataset['Ticket'].transform(lambda x: ticket_survived[x] if x in ticket_set and ticket_count[x] > 1 else average_mean)
dataset['TicketSurvivedValid'] = dataset['Ticket'].transform(lambda x: 1 if x in ticket_set and ticket_count[x] > 1 else 0)

In [39]:
dataset['SurvivalRate'] = (dataset['TicketSurvived'] + dataset['SurnameSurvived']) / 2
dataset['SurvivalRateValid'] = (dataset['TicketSurvivedValid']  + dataset['SurnameSurvivedValid']) / 2
dataset.drop(['TicketSurvived', 'SurnameSurvived', 'TicketSurvivedValid', 'SurnameSurvivedValid'], axis=1, inplace=True)

### Finalize

In [40]:
dataset.drop(['Name', 'Ticket', 'Surname', 'FamilySize', 'Age', 'Fare'], axis='columns', inplace=True)

In [41]:
dataset.head(10)

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Cabin,Embarked,AgeBand,FareBand,Title,Married,FamilyType,TicketFreq,SurvivalRate,SurvivalRateValid
0,1,0.0,3,male,1,0,M,S,"(21.0, 22.0]","(-0.001, 7.25]",Mr,0,Small,1,0.383838,0.0
1,2,1.0,1,female,1,0,ABC,C,"(34.0, 40.0]","(56.496, 83.475]",Miss,1,Small,2,1.000000,1.0
2,3,1.0,3,female,0,0,M,S,"(25.0, 26.0]","(7.896, 8.05]",Miss,0,Alone,1,0.383838,0.0
3,4,1.0,1,female,1,0,ABC,S,"(34.0, 40.0]","(34.075, 56.496]",Miss,1,Small,2,0.383838,0.0
4,5,0.0,3,male,0,0,M,S,"(34.0, 40.0]","(7.896, 8.05]",Mr,0,Alone,1,0.383838,0.0
5,6,0.0,3,male,0,0,M,Q,"(22.0, 25.0]","(8.05, 10.5]",Mr,0,Alone,1,0.383838,0.0
6,7,0.0,1,male,0,0,DE,S,"(48.0, 80.0]","(34.075, 56.496]",Mr,0,Alone,2,0.191919,0.5
7,8,0.0,3,male,3,1,M,S,"(0.169, 16.0]","(15.742, 23.25]",Master,0,Medium,5,0.000000,1.0
8,9,1.0,3,female,0,2,M,S,"(26.0, 29.5]","(10.5, 13.0]",Miss,1,Small,3,0.383838,0.0
9,10,1.0,2,female,1,0,M,C,"(0.169, 16.0]","(26.55, 34.075]",Miss,1,Small,2,0.383838,0.0

In [42]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

dataset = pd.get_dummies(dataset, columns=['Pclass'])
dataset = pd.get_dummies(dataset, columns=['FamilyType'])
dataset = pd.get_dummies(dataset, columns=['Cabin'])
dataset = pd.get_dummies(dataset, columns=['Embarked'])
dataset = pd.get_dummies(dataset, columns=['Title'])
dataset['Sex'] = LabelEncoder().fit_transform(dataset['Sex'])
dataset['AgeBand'] = LabelEncoder().fit_transform(dataset['AgeBand'])
dataset['FareBand'] = LabelEncoder().fit_transform(dataset['FareBand'])

## Start training

In [43]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.model_selection import StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score

In [44]:
y = dataset.iloc[:size_train]['Survived']
X = dataset.iloc[:size_train].drop(columns=['Survived', 'PassengerId'], axis=1)
X_test = dataset.iloc[size_train:].drop(columns=['Survived', 'PassengerId'], axis=1)

In [45]:
model = RandomForestClassifier( criterion='gini', 
                                n_estimators=1100,
                                max_depth=5,
                                min_samples_split=4,
                                min_samples_leaf=5,
                                max_features='auto',
                                oob_score=True,
                                random_state=0,
                                n_jobs=-1,
                                verbose=1)
model.fit(X, y)
y_pred = model.predict(X_test).astype(np.int)
results = pd.DataFrame({'PassengerId': dataset.iloc[size_train:]['PassengerId'], 'Survived': y_pred})
results.to_csv('data/submission_0807_rf.csv', index=False)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:    1.9s
[Parallel(n_jobs=-1)]: Done 1100 out of 1100 | elapsed:    2.6s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 1100 out of 1100 | elapsed:    0.4s finished

## Finish

In [46]:
y_test = pd.read_csv('data/test_label.csv')['Survived']
score = accuracy_score(y_test, y_pred)
print(score)

0.8038277511961722